:root {
  --negro: #141414;
  --casi-negro: #2c2c2c;
  --gris: #787878;
  --gris-claro: #b9b9b9;
  --casi-blanco: #dbdbdb;
  --blanco: #fafafa;
  --primario: #f0ebcc;
  --secundario: #3d84b8;
  --exito: #4aa96c;
  --negativo: #fc6f50;
}

.title {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-size: 48px;
  font-weight: bold;
  line-height: 48px;
}

.subtitle {
  font-family: 'Montserrat', sans-serif;
  font-size: 32px;
  font-weight: bold;
  line-height: 39px;
}

.large {
  font-family: 'Poppins', sans-serif;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
}

.large-bold {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
}

.body {
  font-family: 'Poppins', sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}

.body-bold {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
}

.caption {
  font-family: 'Poppins', sans-serif;
  font-weight: normal;
  font-size: 13px;
  line-height: 19px;
}